
body {
    background-color: #8B9DAC;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1{
    color: white;
    font-size: 8vh;
    margin-bottom: 0%;
}

.website_masthead {
    margin-left: 5vw; 
}

.top_of_page{
    display: grid;
    grid-template-columns: 40% 35% 25%;
}
.website_subtitle{
    font-size: 3vh;
    color: white;
}
.current_temp{
    font-size: 20vh;
    color: #3D3D3D;
    margin-left: 20%;
}
.current_high_low{
    color: white;
    font-size: 4vh;
}

.current_temp_div {
    margin-left: auto;
    margin-right: auto;
    background-color: #00072D;
    border: 1vw solid #00072D; 
    border-radius: 1vw; 
}
.percipitation_main{
    margin-left: auto;
    margin-right: auto;
    background-color: #00072D;
    border: 1vw solid #00072D; 
    border-radius: 1vw; 
    margin-bottom: 5vh;
}
.sunrise_sunset{
    color: white;
    font-size: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #00072D;
    border: 1vw solid #00072D; 
    border-radius: 1vw; 
    margin-bottom: 5vh;
}
.current_hourly_forecast{
    color: white;
    font-size: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #00072D;
    border: 1vw solid #00072D; 
    border-radius: 1vw; 
}
.top_midsection{
    display: grid;
    grid-template-columns: 75% 25%;
}
.current_percipitation{
    color: white;
    font-size: 5vh;
}
.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 90%;
    height: 60vh;
    border-top-color: #00072D; 
    border-top-width: 2vh; 
    border-top-style: solid; 
    border-bottom-color: #00072D; 
    border-bottom-width: 2vh; 
    border-bottom-style: solid; 
    margin-right: 5vw; 
    margin-left: 5vw; 
}
.icon_01d{
    background-image: url("/img/01d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_02d{
    background-image: url("/img/02d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_03d{
    background-image: url("/img/03d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_04d{
    background-image: url("/img/04d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_09d{
    background-image: url("/img/09d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_010d{
    background-image: url("/img/010d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_011d{
    background-image: url("/img/11d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_13d{
    background-image: url("/img/13d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_50d{
    background-image: url("/img/50d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_01n{
    background-image: url("/img/01n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_02n{
    background-image: url("/img/02n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_03n{
    background-image: url("/img/03n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_04n{
    background-image: url("/img/04n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_09n{
    background-image: url("/img/09n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_010n{
    background-image: url("/img/010n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_011n{
    background-image: url("/img/11n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_13n{
    background-image: url("/img/13n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
.icon_50n{
    background-image: url("/img/50n@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
}

.forecast_section{
    margin-left: 2.5vw; 
    margin-right: 2.5vw; 
    display: grid; 
    grid-template-columns: 20% 20% 20% 20% 20%; 
}

.forecast_day {
    width: 16vw; 
    margin-left: 1vw; 
    margin-right: 1vw; 
    border: 0.5vw solid white; 
    border-radius: 10%; 
    color: white;
    text-align: center;
}
.forecast_heading {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.forecast_high_low{
    display: grid;
    grid-template-rows: 60% 60%;
}
.forecast_high {
    font-size: 6vh;
}
.forecast_low {
    font-size: 2.5vh;
}
.forecast_percupitation{
    margin: auto;
    font-size: 2vh;
}

