body {
    background-color: #4DA1A9;
}
.top_of_page {
    display: grid;
    grid-template-columns: 40vw 20vw 40vw;
}
.website_idetity {
    display: grid;
    grid-template-columns: 40% 60%;
}
h1 {
    color: white;
    font-size: 10vh;
}
h3{
    color: white;
}
p{
    color: white;
}
/* }
.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 600px;
    height: 600px;
} */
