
body {
    background-color: #8B9DAC;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1{
    color: white;
    font-size: 8vh;
    margin-bottom: 0%;
}

.website_masthead {
    margin-left: 5vw; 
}

.top_of_page{
    display: grid;
    grid-template-columns: 40% 35% 25%;
}
.website_subtitle{
    font-size: 3vh;
    color: white;
}
.current_temp{
    font-size: 20vh;
    color: #3D3D3D;
    margin-left: 20%;
}
.current_high_low{
    color: white;
    font-size: 4vh;
}

.current_temp_div {
    margin-left: auto;
    margin-right: auto;
    background-color: #00072D;
    border: 1vw solid #00072D; 
    border-radius: 1vw; 
}
.percipitation_main{
    margin-left: auto;
    margin-right: auto;
    background-color: #00072D;
    border: 1vw solid #00072D; 
    border-radius: 1vw; 
}
.top_midsection{
    display: grid;
    grid-template-columns: 75% 25%;
}
.current_percipitation{
    color: white;
    font-size: 2vh;
}
.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 90%;
    height: 60vh;
    border-top-color: #00072D; 
    border-top-width: 2vh; 
    border-top-style: solid; 
    border-bottom-color: #00072D; 
    border-bottom-width: 2vh; 
    border-bottom-style: solid; 
    margin-right: 5vw; 
    margin-left: 5vw; 
}
.icon_01d{
    background-image: url("/img/01d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}
.icon_02d{
    background-image: url("/img/02d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}
.icon_03d{
    background-image: url("/img/03d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}
.icon_04d{
    background-image: url("/img/04d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}
.icon_05d{
    background-image: url("/img/05d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}
.icon_06d{
    background-image: url("/img/06d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}
.icon_07d{
    background-image: url("/img/07d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}
.icon_08d{
    background-image: url("/img/08d@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 3vh;
}




